.panel.panel-default
  .panel-body

    %h2 Settings

    %header#settings
      %ul.nav.nav-tabs
        %li.active#avatar-settings-tab
          %a{href: '#'} Avatar
        %li#login-credentials-tab
          %a{href: '#'} Login
        %li#danger-tab
          %a{href: '#', style: 'color: #d9534f'} Danger

    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f|
      = f.error_notification

      .form-inputs#avatar-settings
        %h3 Upload New Avatar
        = f.input :avatar, as: :file
        = f.input :remote_avatar_url
        %h3 Edit Avatar
        %a.btn.btn-primary{href: "#", onclick: "return launchEditor('avatar', '#{resource.avatar.url}');"} Edit avatar
        %h3 Use Gravatar Instead
        = f.input :gravatar, as: :boolean
      .form-inputs#login-credentials{style: 'display: none'}
        %h3 Edit Login Credentials
        = f.input :full_name, required: false, class: 'form-control'
        = f.input :email, required: false, class: 'form-control'

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p Currently waiting confirmation for: #{resource.unconfirmed_email}

        = f.input :password, autocomplete: 'off', required: false, class: 'form-control',
        hint: 'leave it blank if you don\'t want to change it'
        = f.input :password_confirmation, required: false, class: 'form-control'

      .form-actions#submit-button
        %hr
        = f.input :current_password, required: true, class: 'form-control',
        hint: 'we need your current password to confirm your changes'
        = f.button :submit, 'Update', class: 'btn btn-primary', onclick: 'cleanPassword()'

      #danger{style: 'display: none'}
        %h3 Cancel my account
        %p Unhappy? #{link_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete}
