.feed_album
  .panel.panel-info
    .panel-heading
      = time_ago_in_words(album.updated_at)
      ago:
      = author(album.user)
      - if album.updated_at > album.created_at
        updated album
      - else
        created new album
    .panel-body
      .row
        .col-sm-6
          = link_to album_url(snake_case(album.user.full_name), album) do
            - url = if album.photos.empty? then '' else album.photos.first.source.thumb.url end
            = image_tag url, style: 'max-width: 100%'
        .col-sm-6
          %h2.h4= album.title
          %hr
          %p= pluralize(album.photos.count, 'photo')
