.pull-right
  %button.btn.btn-link{data: {toggle: 'modal', target: '#create-album'}} Create New Album
%ol.breadcrumb
  %li.active Albums

#create-album.modal.fade{tabindex: '-1', role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}, 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h1.h3 Create New Album
      .modal-body
        = simple_form_for(Album.new, url: albums_path, method: :post) do |f|
          = f.input :title, class: 'form-control'
          .modal-footer
            = f.button :submit


.masonry
  - @albums.each do |album|
    .thumbnail
      = link_to album do
        = gravatar_for current_user
      %hr
      .caption
        = link_to album, class: 'btn btn-primary pull-right' do
          Photos
          %span.badge= album.photos.count
        %h2.h4= album.title
