%ol.breadcrumb
  %li
    %a{href: albums_url} Albums
  %li.active= @album.title

.masonry
  - @photos.each do |photo|
    .thumbnail
      = gravatar_for current_user
      .caption
        %h2.h4= photo.title
        %small.text-uppercase created_at: #{photo.created_at}
        %small.text-uppercase updated_at: #{photo.updated_at}
        %hr
        %p= photo.caption
