.modal-dialog
  .modal-content
    .modal-header
      %button.close{data: {dismiss: 'modal'}, 'aria-label' => 'Close'}
        %span{'aria-hidden' => 'true'} &times;
      %h1.h3 Upload New Photo
    .modal-body
      = simple_form_for(Photo.new, url: album_photos_path(@username, @album.id), method: :post, html: { multipart: true }) do |f|
        = f.input :title, class: 'form-control'
        = f.input :caption, class: 'form-control'
        = f.input :source, as: :file
        or
        = f.input :remote_source_url
        .modal-footer
          = f.button :submit

