.pull-right
  %button.btn.btn-link{data: {toggle: 'modal', target: '#create-photo'}} Upload New Photo
  %button.btn.btn-link{data: {toggle: 'modal', target: '#edit-album'}} Edit Album
  %button.btn.btn-link{data: {toggle: 'modal', target: '#delete-album'}} Delete Album
%ol.breadcrumb
  %li
    %a{href: root_url}= full_name_from_params(@username)
  %li
    %a{href: albums_url(@username)} Albums
  %li.active= @album.title

#create-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'photos/new'

#edit-album.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'albums/edit'

#delete-album.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'albums/destroy'

.masonry
  = render @photos
