.pull-right
  %button.btn.btn-link{data: {toggle: 'modal', target: '#edit-photo'}} Edit Photo
  %button.btn.btn-link{data: {toggle: 'modal', target: '#delete-photo'}} Delete Photo
%ol.breadcrumb
  %li
    %a{href: albums_url} Albums
  %li
    %a{href: album_path(@photo.album)}= @photo.album.title
  %li.active= @photo.title

/ modals
#edit-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}, 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h1.h3 Edit Photo
      .modal-body
        = simple_form_for(current_photo, url: album_photo_path(@photo.album, @photo), method: :patch) do |f|
          = f.input :title, class: 'form-control'
          = f.input :caption, class: 'form-control'
          .modal-footer
            = f.button :submit

#delete-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}, 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h1.h3 Delete Photo
      .modal-body.text-center
        %h2.h3 This action will delete '#{@photo.title}'.
        %h2.h3.text-uppercase Are you sure???
      .modal-footer
        %button.btn.btn-default{data: {dismiss: 'modal'}} Really? Then NO!
        = link_to 'Delete', album_photo_path(@photo.album, @photo), method: :delete, class: 'btn btn-danger'

#comment-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}, 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h1.h3 Comment Photo
      .modal-body
        = simple_form_for(Comment.new, url: photo_comments_path(@photo), method: :post) do |f|
          = f.input :body
          .modal-footer
            = f.button :submit
/ end of modals

#view-photo
  .panel.panel-default
    .panel-body
      .row
        .col-sm-6.col-md-8.col-lg-9
          = gravatar_for current_user
        .col-sm-6.col-md-4.col-lg-3
          %h2.h4= @photo.title
          %p= @photo.caption
          %hr
          %p ALBUM: #{@photo.album.title}
          %p CREATED_AT: #{@photo.created_at}
          %p UPDATED_AT: #{@photo.updated_at}
          %hr
          %button.btn.btn-primary{data: {toggle: 'modal', target: '#comment-photo'}} Leave a Comment
      .row
        .col-sm-6.col-md-8.col-lg-9
          #comments
            - @comments.each do |comment|
              %hr
              %blockquote.blockquote
                %p=comment.body
                %footer
                  .pull-right
                    = comment.created_at
                  = comment.user.full_name
                  %span.glyphicon.glyphicon-comment
