%ol.breadcrumb
  %li
    %a{href: feed_url(@username)}= full_name_from_params(@username)
  %li
    %a{href: albums_url(@username)} Albums
  %li
    %a{href: album_path(@username, @photo.album)}= @photo.album_title
  %li.active= @photo.title

#edit-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'photos/edit'

#delete-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'photos/destroy'

#comment-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'photos/comment_form'

#view-photo
  .panel.panel-default
    .panel-body
      .row
        .col-sm-6.col-md-8.col-lg-9
          = link_to @photo.original_url, target: '_blank' do
            = image_tag @photo.original_url, id: "editableimage"
        .col-sm-6.col-md-4.col-lg-3
          %h2.h4= @photo.title
          %p= @photo.caption
          - if @username == snake_case(current_user.full_name)
            .text-right
              %button.btn.btn-link{data: {toggle: 'modal', target: '#edit-photo'}} Edit Photo
              %button.btn.btn-link{data: {toggle: 'modal', target: '#delete-photo'}} Delete Photo
          %hr
          %button.btn.btn-primary{data: {toggle: 'modal', target: '#comment-photo'}} Leave a Comment
      .row
        .col-sm-6.col-md-8.col-lg-9
          #comments
            %hr
            - if @comments.empty?
              %p No comments yet
            - else
              = render @comments
