- if @username == snake_case(current_user.full_name)
  .pull-right
    %button.btn.btn-link{data: {toggle: 'modal', target: '#edit-photo'}} Edit Photo
    %button.btn.btn-link{data: {toggle: 'modal', target: '#delete-photo'}} Delete Photo
%ol.breadcrumb
  %li
    %a{href: feed_url(@username)}= full_name_from_params(@username)
  %li
    %a{href: albums_url(@username)} Albums
  %li
    %a{href: album_path(@username, @photo.album)}= @photo.album.title
  %li.active= @photo.title

#edit-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'photos/edit'

#delete-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'photos/destroy'

#comment-photo.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'photos/comment_form'

#view-photo
  .panel.panel-default
    .panel-body
      .row
        .col-sm-6.col-md-8.col-lg-9

          = image_tag @photo.source.url, id: "editableimage"
        .col-sm-6.col-md-4.col-lg-3
          %h2.h4= @photo.title
          %p= @photo.caption
          %hr
          %p ALBUM: #{@photo.album.title}
          %p CREATED_AT: #{@photo.created_at}
          %p UPDATED_AT: #{@photo.updated_at}
          %hr
          %button.btn.btn-primary{data: {toggle: 'modal', target: '#comment-photo'}} Leave a Comment
      .row
        .col-sm-6.col-md-8.col-lg-9
          #comments
            - @comments.each do |comment|
              %hr
              %blockquote.blockquote
                %p=comment.body
                %footer
                  .pull-right
                    = comment.created_at
                  = comment.user.full_name
                  %span.glyphicon.glyphicon-comment
