!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %title Photokeeper
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        - if user_signed_in?
          .col-md-2
            = render 'layouts/sidebar'
          .col-md-10
            = render 'layouts/header' 
            = render 'layouts/flash_messages'
            = yield
        - else
          = render 'layouts/flash_messages'
          .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col
            = yield
    = render 'layouts/footer'
